@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
}

.card-container {
    position: relative;
    background: no-repeat center/100% url(./photo-1585202900225-6d3ac20a6962.avif);
    height: 100%;
    width: 40%;
}

/* 
.foto {
        width: max(150px, 100%);
        height: max(150px, 100%);
    display: block;
} */

.italic {
    font-style: italic;
}

.card-body {
    display: flex;
    position: absolute;
    width: 100%;
    height: 10vw;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    top: 22%;
    align-items: center;
    justify-content: center;
}

.card {
    font-size: 6vw;
}

.logo {
    height: 80%;
}

/* -----rightside----- */

.container {
    height: 100vr;
    width: 60%
}

.top {
    background-color: rgb(206, 255, 239);
    height: 33.3%;
}

.top-text {
    font-size: 1.2em;   
    position: relative;
    top: 50%;
    left: 5%;
}

.middle {
    background-color: azure;
    height: 33.3%;
}

.bottom {
    background-color: rgb(216, 206, 175);
    height: 33.3%;
}