@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-container {
    position: relative;
    width: 40%;
}

.foto {
    width: max(150px, 100%);
    height: max(150px, 100%);
    display: block;
}

.italic {
    font-style: italic;
}

.card-body {
    display: flex;
    position: absolute;
    width: 100%;
    height: 10vw;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    top: 22%;
    align-items: center;
    justify-content: center;
}

.card {
    font-size: 6vw;
}

.logo {
    height: 80%;
}

.top {
    background-color: rgb(206, 255, 239);
    height: 33.3%;
}

.top-text {
    position: relative;
    top: 50%;
    left: 5%; 
    font-size: 1.2em;   
}

.middle {
    background-color: azure;
    height: 33.3%;
}

.bottom {
    background-color: rgb(216, 206, 175);
    height: 33.3%;
}